<form action="http://itp.nyu.edu/~sk3453/sinatra/dec3/posts/save" method="POST">
  <p><label>Title of Blog Post</label> <input type="text" name="title" /></p>
  
  <label>Content</label>
  <textarea name="content"></textarea>
  
  <p><label>Category</label><input type="text" name="category"/></p>
  
  <input type="submit" value="Submit!" /></p>
</form>
