<!DOCTYPE html>
<html>
<head>
<title>My super cool blog that is actually boring</title>
<style>
    body {
        font-family: "Helvetica";
        background: #ddd;
        color: #333;
        width: 500px;
        margin: 0 auto;
    }
</style>
</head>
<body>
<h1>Welcome to my cool site I spent a lot of time on it</h1>
<a href="http://itp.nyu.edu/~sk3453/sinatra/dec3/posts/new">New Post</a>
<%= yield %>
</body>
</html>