<h1>Hello welcome to my rad website.</h1>

<p>Look around at the cool stuff</p>

<p>
  <a href="http://itp.nyu.edu/~sk3453/sinatra/week4/blog/new">New Blog Post</a>
</p>

<a href="http://itp.nyu.edu/~sk3453/sinatra/week4/about">about</a>