<form action="/blog/save" method="POST">
  <p>
    <input type="text" name="title" />
  </p>
  <p>
    <label>Choose a color for Processing</label>
    <input type="text" name="color"/>
  </p>
  <div>
    <textarea name="body"></textarea>
  </div>
  <input type="submit">
</form>