<!DOCTYPE html>
<html>
  <head>
    <title>Simple Form Example</title>
    <style type="text/css">
      body {
        width: 820px;
      }
      h1 {
        color: #555;
        border-bottom: 1px solid #ccc;
      }
      p {
        color: #121212;
        font: normal 14px/16px Helvetica, sans-serif;
      }
      input[type="text"] {
        padding: 5px;
        font: normal 14px/16px Helveticam sans-serif;
        color: #555;
      }
    </style>
  </head>

  <body>
      <h1>Simple form</h1>

      <p>This is a simple form example.</p>
      <form action="http://itp.nyu.edu/~sk3453/sinatra/web2/hello" method="POST">
        <p><label>Please enter your name:</label>
          <input type="text" name="yourname" />
        </p>

        <textarea name="statement"></textarea>

        <p>
          <input type="radio" name="desserts" value="brownies"/> Brownies
        </p>
        <p>
          <input type="radio" name="desserts" value="cookies"/> Cookies
        </p>
        <p>
          <input type="radio" name="desserts" value="cake"/> Cake
        </p>

        <input type="submit" value="Submit!" />
      </form>

  </body>
</html>
