<form action="http://itp.nyu.edu/~sk3453/sinatra/w4/blog/save" method="POST">
  <p>
    <input type="text" name="title" />
  </p>
  <div>
    <textarea name="body"></textarea>
  </div>
  <input type="submit">
</form>